# ycm's compiled settings file
*.pyc

# the build directory, as that is probably full of binaries.
build/*
builddir/*
#Flash files will be ignored.
*.fla
#Sublime text files
*.sublime-project
*.sublime-workspace
#Ignore the "To Do" file.
assets/To_do_list.txt*
#Ignore Photoshop files.
*.psd